!!!
%html
  %head
    %link{:type=>"text/css", :rel=>"stylesheet", :href=>"../style.css"}
    %title="Rubyvis - Example: #{title}"
  %body
    %h1="Rubyvis - Example: #{title}"
    .example_main
      .description=find_and_preserve(text)
      .navigation
        %ul
          %li 
            %a{:href=>"../index.html"} Home
          - if prev_ex
            %li
              %a{:href=>"#{prev_ex}.html"} Previous: #{pages[prev_ex].title}
          - if next_ex
            %li
              %a{:href=>"#{next_ex}.html"} Next: #{pages[next_ex].title}          
      .image
        /[if IE]
          %embed.svg{:src=>svg_file,:width=>svg_width, :height=>svg_height}
        %object.svg{:data=>svg_file, :type=>"image/svg+xml", :width=>svg_width, :height=>svg_height}
      .source=find_and_preserve(source)
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5764936-8']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

